<!DOCTYPE html>
<html>
<head>
    <title>basic example test</title>
</head>
<body>
    <h1>name</h1>
    <!-- < %=%>안에 변수를 넣으면 자동으로 프론트에 변수 데이터를 노출시킨다. -->
    <p> <%= name %></p>
    <h1>github</h1>
    <p> <%= github %></p>
    <h1>lab</h1>
    <p> <%= lab %></p>
</body>
</html>
